<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.DrugstemplateMapper">
  
  <sql id="Base_Column_List">   
    ID, Name, UserID, CreationTime, Scope, DelMark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="java.util.Map">    
    select 
    <include refid="Base_Column_List" />
    from DrugsTemplate
    where ID = #{ID,jdbcType=INTEGER}
  </select>
    
  <delete id="deleteByPrimaryKey" >    
    delete from DrugsTemplate
    where ID in
	<foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
	</foreach>
  </delete>
  
  <insert id="insert" parameterType="java.util.Map">
    insert into DrugsTemplate (ID, Name, UserID, 
      CreationTime, Scope, DelMark
      )
    values (#{ID,jdbcType=INTEGER}, #{Name,jdbcType=VARCHAR}, #{UserID,jdbcType=INTEGER}, 
      #{CreationTime,jdbcType=TIMESTAMP}, #{Scope,jdbcType=CHAR}, #{DelMark,jdbcType=INTEGER}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="java.util.Map">
    insert into DrugsTemplate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="Name != null">
        Name,
      </if>
      <if test="UserID != null">
        UserID,
      </if>
      <if test="CreationTime != null">
        CreationTime,
      </if>
      <if test="Scope != null">
        Scope,
      </if>
      <if test="DelMark != null">
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="Name != null">
        #{Name,jdbcType=VARCHAR},
      </if>
      <if test="UserID != null">
        #{UserID,jdbcType=INTEGER},
      </if>
      <if test="CreationTime != null">
        #{CreationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="Scope != null">
        #{Scope,jdbcType=CHAR},
      </if>
      <if test="DelMark != null">
        #{DelMark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update DrugsTemplate
    <set>
      <if test="Name != null">
        Name = #{Name,jdbcType=VARCHAR},
      </if>
      <if test="UserID != null">
        UserID = #{UserID,jdbcType=INTEGER},
      </if>
      <if test="CreationTime != null">
        CreationTime = #{CreationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="Scope != null">
        Scope = #{Scope,jdbcType=CHAR},
      </if>
      <if test="DelMark != null">
        DelMark = #{DelMark,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="java.util.Map">
    update DrugsTemplate
    set Name = #{Name,jdbcType=VARCHAR},
      UserID = #{UserID,jdbcType=INTEGER},
      CreationTime = #{CreationTime,jdbcType=TIMESTAMP},
      Scope = #{Scope,jdbcType=CHAR},
      DelMark = #{DelMark,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  
  <!--               -->
   <select id="getDrugTemplateList" resultType="java.util.Map">
        SELECT 
        <include refid="Base_Column_List" />
        FROM DrugsTemplate
        WHERE 1=1
        <if test="keywords01!=null and keywords01!='' ">
            AND Name LIKE concat('%',#{keywords01},'%')
        </if>
        <if test="keywords02!=null and keywords02!='' ">
            AND Scope LIKE concat('%',#{keywords02},'%')
        </if>
        <if test="UserID!=null and UserID!='' ">
            AND UserID = #{UserID}
        </if>
        ORDER BY CreationTime DESC
    </select>
    
    <select id="getDrugTemplateCount" resultType="int">
        SELECT count(*) FROM DrugsTemplate
        <where>
        <if test="keywords!=null">
            AND Name LIKE concat('%',#{keywords},'%')
        </if>
        </where>
    </select>
    
    <delete id="deleteDrugTemplateByIds">
        DELETE FROM DrugsTemplate 
        WHERE ID IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    
    <update id="updateDrugTemplateById" parameterType="java.util.Map">
        UPDATE DrugsTemplate 
        SET 
        	Name=#{Name},
        	Scope=#{Scope}
        WHERE ID=#{ID}
    </update>
    
    <insert id="addDrugTemplate" parameterType="java.util.Map">
        INSERT INTO DrugsTemplate(
        	Name,UserID,CreationTime,Scope,DelMark
        )
        VALUES(
        	#{Name},#{UserID},NOW(),#{Scope},1
        )
    </insert>
    
	<sql id="Table_Column_List">   
    t.ID ID, Name, UserID, t.CreationTime CreationTime, Scope, t.DelMark DelMark,
    u.RealName RealName
	</sql>
    <select id="getDrugTemplateByDocid" resultType="java.util.Map">
        SELECT 
        <include refid="Table_Column_List" />
        FROM DrugsTemplate t,User u
        WHERE t.UserID=u.ID AND t.DelMark=1
		<if test="Name!=null and Name!='' ">
            AND Name LIKE concat('%',#{Name},'%')
        </if>
        	AND (t.UserID = #{ID}
        		or t.Scope=3 
        		or( t.Scope=2 and t.UserID in(
        			select ID from User where deptID = (
        				select DeptID from User where ID = #{ID} ))))
        ORDER BY CreationTime DESC
    </select>
</mapper>